<div class="row">
  <div class="col-md-12">
    <h4><%= link_to @question.user.name , user_path(@question.user) %></h4>
    <h2><%= @question.title %></h2>
  <div>
    <%= @question.content %>
</div>
 <span class="question-iamge">
   <%= image_tag @question.display_image if @question.image.attached? %>
 </span>
 <div class="under-content">
 <span class="data create">作成日時:<%= l @question.created_at, format: :short %></span>
 <span class="data update">編集日時:<%= l @question.updated_at, format: :short %></span>
  <% if logged_in? &&  current_user.admin?  %>
    <div class="delete-edit-area">
      <span class="delete-button">
        <%= link_to '【削除】', @question, method: :delete,
                            data: {confirm: "本当に削除しても宜しいですか?"} %>
      </span>
      <span class="edit-button">
        <%= link_to '【編集】', edit_question_path %>
      </span>
    </div>
  <% end %>
  
  <% if logged_in? && current_user?(@question.user) && !current_user.admin? %>
    <div class="delete-edit-area">
      <span class="delete-button">
        <%= link_to '【削除】', @question, method: :delete,
                            data: {confirm: "本当に削除しても宜しいですか?"} %>
      </span>
      <span class="edit-button">
        <%= link_to '【編集】', edit_question_path %>
      </span>
    </div>
    </div>
  <% end %>
  <hr>
  
      <h3>ユーザーの回答</h3>
      <table class="table table-striped">
        <% if @question.answers.any? %>
          <% @question.answers.each do |answer| %>
            <div class="answer-box">
              <hr>
             　<%= answer.content %>
              <% if logged_in? && current_user.admin? %>
                <br>
                <span class = "delete-button">
                  <%= link_to '【削除】', question_answer_path(@question,answer), method: :delete, data:{ confirm: '本当に削除してもよろしいですか？'} %>
                </span>
              <% end %>
              <% if logged_in? && current_user.id == @question.user_id && !current_user.admin? %>
                <span class = "delete-button">
                  <%= link_to '【削除】', question_answer_path(@question,answer), method: :delete, data:{ confirm: '本当に削除してもよろしいですか？'} %>
                </span>
              <% end %>
              <br>
              <span class="data create">作成日時:<%= l answer.created_at, format: :short %></span>
            </div>
          <% end %>
          </tbody>
        <% else %>
          <p>まだ回答がありません</p>
        <% end %>
  <hr>
        
  <div class="answer-create">
  <%= form_with model: [@question,@answer], local: true do |f| %>
  <%= f.hidden_field :question_id, { value: @question.id } %>
  <div class="form-group">
    <label>回答する</label>
    <%= f.text_area :content, class: 'form-control', placeholder: '回答内容を入力して下さい' %>
  </div>
  <%= f.submit "回答を投稿する", class: 'btn btn-primary' %>
  <% end %>
  </div>
  <div class="home-back">
    <%= link_to '質問一覧へ戻る', questions_path %>
  </div>