<%= form_with(model: @question, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @question %>
  <div  id="question_form">
    <%= f.text_field :title, placeholder: "タイトルを入力して下さい" %>
    <%= f.text_area :content, placeholder: "質問したい内容を入力して下さい" %>
    <span class="image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>
  </div>
  <%= f.submit "質問作成", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>